.v-btn {
    font-weight: 700 !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    border-radius: 10rem !important;
    text-transform: none !important;
  }
  
  .v-btn--variant-outlined {
    border-width: 2px !important;
  }
  
  .v-btn--disabled {
    background-color: $_neutral-50 !important;
    color: $_neutral-400 !important;
  }
  