$_primary: #0050d7;
$_primary-300: #0a2961;
$_primary-200: #4691ff;
$_primary-100: #d4efff;
$_secondary: #5000be;
$_secondary-200: #d8ccff;
$_secondary-100: #f4ecfb;
$_success: #14c850;
$_success-200: #0f5829;
$_success-100: #d9ffe5;
$_warning: #fdb014;
$_warning-200: #93390d;
$_warning-100: #fff0c6;
$_error: #e51e2a;
$_error-200: #48070b;
$_error-100: #ffc7ca;
$_neutral: #1f1f1f;
$_neutral-800: #3d3d3d;
$_neutral-700: #454545;
$_neutral-600: #4f4f4f;
$_neutral-500: #5d5d5d;
$_neutral-400: #888888;
$_neutral-300: #b0b0b0;
$_neutral-200: #d1d1d1;
$_neutral-100: #e7e7e7;
$_neutral-50: #f6f6f6;

